@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
}
body {
    background-color: #181818;
    color: #fefefe;
    font-weight: bold;
    font-size: 35px;
}

.yellow {
    color: #b3a577;
}